.item{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}
.item__container{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item__text{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    font-size: 27px;
    color: #393c41;
    align-items: center;
    flex: 1;
}

.item__textDesc{
    font-weight: 200;
    font-size: 14px;
}
.item__lowerThird{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}
.item__buttons{
    display: flex;
}
.item__expand{
    color: white;
    width: 100%;
    margin-top: 3%;
    justify-content: center;
    display: flex;
}
@media (max-width:950px) {
    .item__text{
        font-size: 20px;
        margin-top: 30%;
    }
    .item__textDesc{
        font-size: 12px;
    }
}
@media (max-width:914px){
    .item__text{
        font-size: 18px;
    }
}
@media(max-width:823px){
    .item__text{
        font-size: 17px;
    }
}
@media (max-width:777px) {
    .item__text{
        font-size: 16px;
    }
    .item__textDesc{
        font-size: 10px;
    }
}
@media (max-width:731px){
    .item__text{
        font-size: 14px;
    }
}
@media(max-width:641px){
    .item__text{
        font-size: 12px;
        margin-top: 45%;
    }
    .item__textDesc{
        font-size: 8px;
    }
}

@media(max-width:549px){
    .item__text{
        font-size: 10px;
        margin-top: 50%;
    }

}
@media(max-width:500px){
    .item__text{
        font-size: 10px;
        margin-top: 55%;
    }

}
@media(max-width:458px){
    .item__text{
       margin-top: 60%;
       font-size: 9px;
    }
   
}
@media(max-width:458px){
    .item__text{
       font-size: 8px;
    }
    .item__textDesc{
        font-size: 6px;
    }
   
}